@page
@using System.Drawing.Printing;
@using ApiControlCenterWebPanel.Models;
@using ApiControlCenterWebPanel.Models.Interfaces;
@using ApiControlCenterWebPanel.Controller;
@using ApiControlCenterWebPanel.Pages;
@model ApiControlCenterWebPanel.Pages.EkuSystemModel
@{
    Layout = "_FilterPage";

    List<SuperAdmin>? db1 = ((CashContent)ApiTableModel.RetrieveTables(Utilities.PATH)).DataContent;
    List<Admin>? db2 = ((CashContent)ApiTableModel.RetrieveTables(Utilities.PATH1)).DataContent_1;
    string? theEntrepriseName = null, superAdmin = null, admin = null;

    try
    {
        var supAdm = db1?.Where(x => x.TaxNumber == EkuSystemModel.TaxNumber).ToList();
        var adm = db2?.Where(x => x.AdminModel.TaxNumber == EkuSystemModel.TaxNumber).ToList();

        if (supAdm != null && supAdm.Count != 0)
        {
            theEntrepriseName = supAdm[0].GasStationName[0];
        }
        else if (adm != null && adm.Count != 0)
        {
            theEntrepriseName = adm[0].AdminModel.GasStationName[0];
        }
    }
    catch
    {

    }
}

<div class="container">
    <div class="card container">
        <div class="p-3">
            <h5 class="card-title">
                @theEntrepriseName Z raporları
            </h5>
            <div class="card-body">
                <form method="post" asp-page-handler="addEku">
                    <div class="row">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="col-md-6 form-group input-group-icon">
                                    <label asp-for="Date" class="form-label" id="ekuAddLabel_1">Tarih</label>
                                    <input asp-for="Date" class="js-datepicker-eku form-control" type="text" id="ekuAddInput_1" autocomplete="off">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" id="addEkuButton">Ekle</button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table-sort table-sort-search table project-list-table table-nowrap align-middle table-borderless">
                <thead>
                    <tr>
                        <th scope="col" class="table-sort">Ekü no</th>
                        <th scope="col" class="table-sort">Tarih</th>
                    </tr>
                </thead>
                <tbody id="tableElements">
                    @{
                        List<InvoiceEkuSystem> systemContent = ApiTableModel.RetrieveEkuList().Where(x => x.TaxId == EkuSystemModel.TaxNumber).ToList();

                        if (systemContent != null && systemContent.Count != 0)
                        {
                            var allEkus = systemContent[0].EkuList;

                            if (allEkus != null && allEkus.Count != 0)
                            {
                                for (int i = 0; i < allEkus.Count; i++)
                                {
                                    <tr id="searchPlateContent_@i">
                                        <td id="inv_1_@(i)">@allEkus[i].Index</td>
                                        <td id="inv_2_@(i)">@allEkus[i].DateOfTheIndex.ToString().Split(" ")[0]</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>