@page
@using System.Drawing.Printing;
@using ApiControlCenterWebPanel.Models;
@using ApiControlCenterWebPanel.Models.Interfaces;
@using ApiControlCenterWebPanel.Controller;
@using ApiControlCenterWebPanel.Pages;
@model ApiControlCenterWebPanel.Pages.ZReportsSystemModel
@{
    Layout = "_FilterPage";

    List<SuperAdmin>? db1 = ((CashContent)ApiTableModel.RetrieveTables(Utilities.PATH)).DataContent;
    List<Admin>? db2 = ((CashContent)ApiTableModel.RetrieveTables(Utilities.PATH1)).DataContent_1;
    string? theEntrepriseName = null, superAdmin = null, admin = null;

    try
    {
        var supAdm = db1?.Where(x => x.TaxNumber == ZReportsSystemModel.TaxNumber).ToList();
        var adm = db2?.Where(x => x.AdminModel.TaxNumber == ZReportsSystemModel.TaxNumber).ToList();

        if (supAdm != null && supAdm.Count != 0)
        {
            theEntrepriseName = supAdm[0].GasStationName[0];
        }
        else if (adm != null && adm.Count != 0)
        {
            theEntrepriseName = adm[0].AdminModel.GasStationName[0];
        }
    }
    catch
    {

    }

    List<InvoiceZReportSystem> systemContent = ApiTableModel.RetrieveZReports();
    List<InvoiceZReportSystem> filteredSystemContent = systemContent.Where(x => x.TaxId == ZReportsSystemModel.TaxNumber).ToList();
    List<UserZReport>? allZReports = filteredSystemContent[0].UserZReports;

    UserZReport lastReport = allZReports.Last();

    if (lastReport.DateOfTheIndex < DateTime.Now)
    {
        UserZReport? reportElements = lastReport;
        DateTime lastDate = reportElements.DateOfTheIndex;
        DateTime lastDateFormatted = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
        int lastIndex = reportElements.Index;

        while (lastDate < lastDateFormatted)
        {
            lastDate = lastDate.AddDays(1);
            lastIndex++;
            UserZReport theReport = new()
            {
                Index = lastIndex,
                DateOfTheIndex = lastDate
            };
            allZReports.Add(theReport);
        }

        filteredSystemContent[0].UserZReports = allZReports;
        systemContent.Where(x => x.TaxId == ZReportsSystemModel.TaxNumber).ToList()[0] = filteredSystemContent[0];


        ApiTableModel.WriteData(systemContent);
    }
}

<div class="container">
    <div class="card container">
        <div class="p-3">
            <h5 class="card-title">
                @theEntrepriseName Z raporları
            </h5>
        </div>
        <div class="table-responsive">
            <table class="table-sort table-sort-search table project-list-table table-nowrap align-middle table-borderless">
                <thead>
                    <tr>
                        <th scope="col" class="table-sort">Tarih</th>
                        <th scope="col" class="table-sort">Z Raporu</th>
                    </tr>
                </thead>
                <tbody id="tableElements">
                    @{
                        if (systemContent != null && systemContent.Count != 0)
                        {
                            if (allZReports != null && allZReports.Count != 0)
                            {
                                for (int i = 0; i < allZReports.Count; i++)
                                {
                                    <tr id="searchPlateContent_@i">
                                        <td id="inv_1_@(i)">@allZReports[i].Index</td>
                                        <td id="inv_2_@(i)">@allZReports[i].DateOfTheIndex.ToString().Split(" ")[0]</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>