@page
@using System.Drawing.Printing;
@using YazarKasaPetrol.Models;
@using YazarKasaPetrol.Models.Interfaces;
@using YazarKasaPetrol.Controller;
@using YazarKasaPetrol.Pages;
@model YazarKasaPetrol.Pages.EkuSystemModel
@{
    Layout = "_FilterPage";
}

<div class="container">
    <div class="card container mb-3">
        <div class="p-3">
            <h5 class="card-title">
                Toplu fatura kes
            </h5>
        </div>
    </div>
    <div class="card container mb-3">
        <div class="p-3">
            <div class="p-3" id="InvoiceCreatorContainer">
                <h5 class="modal-title" id="invoiceModalLabel">Fatura Ekle</h5>
                <div class="card-body">
                    <form method="get">
                        <div class="row">
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <div class="form-group mb-3">
                                        <label class="form-label" id="massInvoiceLabel_1">Min Litre</label>
                                        <input type="text" name="litre" class="form-control" id="massInvoiceText_1">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-3">
                                        <label class="form-label" id="massInvoiceLabel_1">Max Litre</label>
                                        <input type="text" name="litre" class="form-control" id="massInvoiceText_1">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-3">
                                        <label class="form-label" id="massInvoiceLabel_2">Min fiyat</label>
                                        <input type="text" name="birimFiyat" class="form-control" id="massInvoiceText_2">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-3">
                                        <label class="form-label" id="massInvoiceLabel_11">Max fiyat</label>
                                        <input type="text" name="toplamFiyat" class="form-control" id="massInvoiceText_11">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4 form-group input-group-icon">
                                    <label class="form-label" id="massInvoiceLabel_3">Başlangıç tarih</label>
                                    <input class="js-datepicker form-control" type="text" name="tarih" id="massInvoiceText_3" autocomplete="off">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                                <div class="col-md-4 form-group input-group-icon">
                                    <label class="form-label" id="massInvoiceLabel_3">Bitiş tarih</label>
                                    <input class="js-datepicker form-control" type="text" name="tarih" id="massInvoiceText_3" autocomplete="off">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="form-label" id="massInvoiceLabel_7">Toplam tutar</label>
                                    <input type="text" maxlength="6" name="fisNo" class="form-control" id="massInvoiceText_7">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 d-grid">
                            <button type="button" class="btn btn-primary col-md-12" id="addInvoice">YAZDIR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>