#page {
    flex-direction: column;
    width: 200px;
    border: 1px solid black;
    /*background-color: red;*/
    padding: 25px;
    /*padding-left: 25px;*/
    row-gap: 10px;
    font-family: 'Times New Roman';
}

#line {
    border: 1px dashed black;
    width: 100%;
    /*height: 0;*/
}

.row-texts {
    flex-direction: column;
    /*background-color: black;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    display: flex;
    /*flex: 1;*/
    /*background-color: blue;*/
    /*height: max-content;*/
}

.row-texts-right {
    justify-content: right;
    flex-direction: column;
    /*background-color: aqua;*/
}


.row-text {
    /*color: white;*/
    word-wrap: break-word;
    font-size: 12px;
    text-align: center;
    /*background-color: aqua;*/
}

.row-texts-big {
    font-size: 16px;
}

.row-texts2 {
    flex: 2;
    /*background-color: green;*/
    align-items: center;
    flex-direction: row;
    justify-content: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.col-texts {
    /*background-color: blue;*/
    flex-direction: row;
    /*flex: 1;*/
    display: flex;
    height: max-content;
}


.col-texts {
    justify-content: space-between;
}

.col-texts-spaced {
    margin-top: 20px;
}

#InvoiceQRCodeSection {
    width: 200px;
}
